{% extends "base.html" %}
{% block head %}    
    {{ super() }}
{% endblock %}
 {% block content %}
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ url_for('static', filename='images/deadpool2_cover.jpg') }}" alt="Deadpool 2">
    </div>

    <div class="item">
      <img src="{{ url_for('static', filename='images/blackpanther_cover.jpg') }}" alt="Black Panther">
    </div>

    <div class="item">
      <img src="{{ url_for('static', filename='images/jurassic.jpg') }}" alt="Jurassic">
    </div>
     <div class="item">
      <img src="{{ url_for('static', filename='images/rampage_cover.jpg') }}" alt="Rampage">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<center>
<h1 style="font-size:60px;">WELCOME TO JACKDAW CINEMA</h1>
</center>

<br>

<div style="width: 100%;">
 <div style="float:left; width: 80%">
  <h1> <a href="/nowshowing" style="font-size:40px;">&emsp;NOW SHOWING</a> </h1>
    <br>
    <p style="float: left;">
      <iframe  width="560" height="315" src="https://www.youtube.com/embed/XFYWazblaUA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </p>
    <h2 style="font-size:15px">&emsp;THE SHAPE OF THE WATER[15]</h2>
    <p>&emsp;Screen: 6 </p>
    <p>&emsp;Genre: Drama | Adventure | Fantasy</p>
    <p>&emsp;Director: Guillermo del Toro</p>
    <p>&emsp;Cast: Michael Shannon, Octavia Spencer, Sally Hawkins</p>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
    <p style="float: left;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xjDjIWPwcPU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe></p>
        <h2 style="font-size:15px">&emsp;BLACK PANTHER[12]</h2>
        <p>&emsp;Screen: 1 </p>
        <p>&emsp;Genre: Animation | Comedy | Adventure</p>
        <p>&emsp;Director: Ryan Coogler</p>
        <p>&emsp;Cast: Chadwick Boseman, Lupita Nyong'o, Michael B. Jordan</p>
</div>

</div>

{% endblock %}