<!DOCTYPE html>
<html>
  <head>
  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}
  </head>
  <body>
    <h1 style="font-size: 50px">{{ movie.title }}</h1>
    <div>
		<p>Blurb: {{ movie.blurb }}</p>
		<p>Director: {{ movie.director }}</p>
		<p>Certificate: {{ movie.certificate }} </p>
    <p><a href="{{ url_for('screenings', id=movie.id) }}"><button type="button">View Screenings</button></a></p>
    <img src="{{ url_for('static', filename='images/'+movie.poster) }}" width="20%">
    </div>
  </body>
</html>